Step 1: System OS Requirements (Ensure that you have Raspberry OS 12 Bookworm!)

sudo apt update && sudo apt full-upgrade -y && \
sudo apt install -y \
build-essential zlib1g-dev libncurses-dev libgdbm-dev libnss3-dev libssl-dev \
libreadline-dev libffi-dev libsqlite3-dev libbz2-dev liblzma-dev tk-dev \
libdb-dev libexpat1-dev libgmp-dev libmpdec-dev libfreetype-dev libjpeg-dev \
libpng-dev libtiff-dev libopenjp2-7-dev libopenblas-dev gfortran libcap-dev \
python3-dev python3-pip python3-opencv python3-libcamera python3-picamera2 \
libcamera-apps libcamera-v4l2 libcamera-ipa gstreamer1.0-libcamera ffmpeg wget v4l-utils

Step 2: Setup Virtual Environment in Python
python -m venv ~/yolo-env
source ~/yolo-env/bin/activate
python -m pip install --upgrade pip setuptools wheel
pip install numpy>=1.23.0 opencv-python-headless>=4.7.0 Pillow>=10.0.1 tqdm>=4.64.1 matplotlib>=3.6.3 pandas>=1.5.3 ultralytics==8.3.184 pymediainfo>=22.0 picamera2 pandas-stub imageio-ffmpeg

Step 3: Clone GitHub Repository
git clone 

Step 4: Run Inference
cd ~/YOLO
python detect.py --source (picamera OR /path/to/video.type)
